
@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 222 22% 15%;

    --card: 0 0% 100%;
    --card-foreground: 222 22% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 22% 15%;

    --primary: 222 47% 45%;
    --primary-foreground: 0 0% 100%;

    --secondary: 142 52% 55%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 16% 93%;
    --muted-foreground: 215 16% 35%;

    --accent: 142 52% 55%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62% 65%;
    --destructive-foreground: 0 0% 100%;

    --warning: 38 92% 55%;
    --warning-foreground: 0 0% 100%;

    --border: 210 16% 85%;
    --input: 210 16% 85%;
    --ring: 222 47% 65%;
  }
  

  .dark {
    --background: 222 22% 15%;
    --foreground: 210 20% 98%;

    --card: 222 22% 15%;
    --card-foreground: 210 20% 98%;

    --popover: 222 22% 15%;
    --popover-foreground: 210 20% 98%;

    --primary: 222 47% 65%;
    --primary-foreground: 0 0% 100%;

    --secondary: 142 52% 65%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 16% 25%;
    --muted-foreground: 215 16% 65%;

    --accent: 142 52% 65%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62% 75%;
    --destructive-foreground: 0, 0%, 100%;

    --warning: 38 92% 65%;
    --warning-foreground: 0 0% 100%;

    --border: 222 22% 25%;
    --input: 222 22% 25%;
    --ring: 222 47% 65%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
 body{
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
